/* 隐藏打开APP的弹窗 */
shreddit-async-loader[bundlename="app_selector"] {
  display: none !important;
}
body {
  overflow: auto !important;
  pointer-events: auto !important;
}

/* 隐藏广告 */
shreddit-ad-post {
  display: none !important;
}
[slot="full-comments-page-ad-link"] {
  display: none !important;
}
shreddit-comments-page-ad {
  display: none !important;
}

/* 加载动画 */
[data-translating="true"] {
  position: relative;
  animation: skeleton-animation 1s ease-in-out infinite;
}

@keyframes skeleton-animation {
  0% {
    opacity: 0.3;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.3;
  }
}

/* 优化UI*/
[slot="text-body"] {
  padding: 16px;
}
